html {
  background-color: #2393cd;
  color: #fff;
  font-size: 1.6em;
  line-height: 1.4;
}

body {
  background: url('../img/golfo-napoli.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.wrap {
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 100px;
}

.content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0.5em;
  width: 100%;
  max-width: 560px;
  background-color: rgba(140,140,140,0.5);
  overflow: hidden;
}

mark {
  background-color: rgba(255, 255, 0, .5);
}

em {
  color: rgb(0, 217, 255);
}

a {
  color: #008299;
  transition: color .1s;
}

a:hover {
  color: rgb(0, 217, 255);
  text-decoration: none;
}

blockquote {
  margin: 0;
  color: #223;
}

figure {
  margin: 0;
  padding: .7em;
  background-color: rgba(255,255,255,.9);
  width: 100%;
  max-width: 560px;
}

figure.transparent {
  background-color: transparent;
}

figcaption {
  margin-top: 1em;
  font-size: .7em;
  color: #223;
}

.meme {
  width: 100%;
  vertical-align: middle;
}

textarea {
  border-radius: 3px;
  border: 3px solid rgb(0, 217, 255);
  font-size: .5em;
  width: calc(100% - 10px);
  height: 280px;
  margin: 1em 0;
  resize: vertical;
}

.carousel {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: auto;
  gap: 24px;
  padding: 24px 0.5em;
  scrollbar-width: none;
  align-items: flex-start;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  scroll-snap-align: center;
  display: flex;
  flex-shrink: 0;
}

.carousel-item-start {
  flex-shrink: 0;
  width: calc((100vw - 560px) * 0.5 - (24px * 2));
}
