html {
  color: #fff;
  font-size: 1.6em;
  line-height: 1.4;
}

body {
  background: url('/img/golfo-napoli.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.wrap {
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 100px;
}

.content {
  box-sizing: border-box;
  margin: 1em auto;
  padding: 0.5em;
  width: 100%;
  max-width: calc(560px + 0.5em * 2);
  background-color: rgba(22, 22, 22, 0.5);
}

mark {
  background-color: rgba(255, 255, 0, .5);
}

em {
  color: rgb(0, 217, 255);
}

a {
  color: #008299;
  transition: color .1s;
}

a:hover {
  color: rgb(0, 217, 255);
  text-decoration: none;
}

blockquote {
  margin: 0;
  color: #223;
}

figure {
  margin: 0;
  padding: .7em;
  background-color: rgba(255,255,255,.9);
  width: 100%;
  max-width: 560px;
  box-sizing: border-box;
}

figure.transparent {
  background-color: transparent;
}

figcaption {
  margin-top: 1em;
  font-size: .7em;
  color: #223;
}

.meme {
  width: 100%;
  vertical-align: middle;
}

textarea {
  border-radius: 3px;
  border: 3px solid rgb(0, 217, 255);
  font-size: .5em;
  width: calc(100% - 10px);
  height: 280px;
  margin: 1em 0;
  resize: vertical;
}

.carousel {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: auto;
  gap: 24px;
  padding: 24px 0.5em;
  scrollbar-width: none;
  align-items: stretch;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  scroll-snap-align: center;
  display: flex;
  flex-shrink: 0;
}

.carousel-item figure {
  display: flex;
  flex-direction: column;
}

.meme-wrapper {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.meme-bg {
  filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: .8;
}

.meme-wrapper .meme {
  position: relative;
  z-index: 1;
}

.carousel-item-start {
  flex-shrink: 0;
  width: calc((100vw - 560px + 0.5em * 2) * 0.5 - (24px * 2));
}
